{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main_app\css\home.css' %}">
</head>
<body>
    <form action="#" method="POST">
        {% csrf_token %}
        <div class="block-for-form">
            <div class="field-block">
                {% for field in form %}
                    {{ field }}
                {% endfor %}
            </div>
            <input class="send-button" type="submit">
            <div class="block-cource-display">
                {{ meaning }}
            </div>
        </div>
    </form>
</body>
</html>